.header{
    padding-top: 15px;
   padding-bottom: 10px;
    background-color: rgb(55, 34, 18);
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.flexContainer{
    composes: spaceBetween from "../../styles/utils.module.css";
    
}
