
.swiper-button-next{
   color: white;
   margin-right: 3%;
}
.swiper-button-prev{
    color: white;
    margin-left: 3%;
}

.swiper {
    margin-top: 50px;
    height: 350px;
    width: 700px;
    
  }
  @media ( max-width: 768px){
    .swiper{
        
       width: 100%;
    }
}
  
  
  
  .swiper-slide img {
    margin: 0 3% 0 3%;
    display: block;
    width: 90%;
    height: 90%;
  }
  