.swiper_page{
    margin:0 auto;
    padding-top: 1px;
    background-color: rgb(247, 229, 216);
    width: 700px;
    border-radius: 5px;
  }
  @media(max-width:768px){
    .swiper_page{
        width: 98%;
    }
  }