.swiper-button-next{
   color: white;
}
.swiper-button-prev{
    color: white;
}

.swiper {
    width: 500px;
    height: 350px;
  }
  
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  